@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto');

html, body, h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif !important;
}

#content { margin-top: 20px; }

.notopmargin { margin-top: 0; }
.left10 { margin-left: 10px; }
.right10 { margin-right: 10px; }

.navbar {
    margin-bottom: 0;
}

.navbar li.first {
    border-top: 2px solid #5399D6;
}

.navbar li.second {
    border-top: 2px solid #F0AD4E;
}

.navbar li.third {
    border-top: 2px solid #D9534F;
}

.navbar li.fourth {
    border-top: 2px solid #B85C5C;
}

.qsolog-intro {
    background-color: #5eb95e;
    color: #f7f7f7;
}

.top20 { margin-top: 20px; }

#loginform input, #index #loginform input {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: 'Roboto';
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

#profile h2.callsign {
    color: #666;
}